<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>frames</key>
    <dict>
        <key>brown-don.png</key>
        <dict>
            <key>frame</key>
            <string>{{0,0},{146,146}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{146,146}</string>
        </dict>
        <key>candy-3.png</key>
        <dict>
            <key>frame</key>
            <string>{{146,0},{214,99}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{214,99}</string>
        </dict>
        <key>candy-4.png</key>
        <dict>
            <key>frame</key>
            <string>{{146,99},{214,99}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{214,99}</string>
        </dict>
        <key>candy1.png</key>
        <dict>
            <key>frame</key>
            <string>{{360,0},{175,337}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{175,337}</string>
        </dict>
        <key>candy2.png</key>
        <dict>
            <key>frame</key>
            <string>{{0,337},{214,98}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{214,98}</string>
        </dict>
        <key>green-cone.png</key>
        <dict>
            <key>frame</key>
            <string>{{214,337},{102,179}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{102,179}</string>
        </dict>
        <key>pink-cone.png</key>
        <dict>
            <key>frame</key>
            <string>{{316,337},{102,179}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{102,179}</string>
        </dict>
        <key>pink-don.png</key>
        <dict>
            <key>frame</key>
            <string>{{418,337},{146,146}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceSize</key>
            <string>{146,146}</string>
        </dict>
    </dict>
    <key>metadata</key>
    <dict>
        <key>format</key>
        <integer>2</integer>
        <key>realTextureFileName</key>
        <string>candy_spritesheet.png</string>
        <key>size</key>
        <string>{564,516}</string>
        <key>textureFileName</key>
        <string>candy_spritesheet.png</string>
    </dict>
</dict>
</plist>